<div class="container">
    <h1 class="text-center text-main my-3"> Forget Password</h1>

    @if (step == 1) {

        <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verify_Email()" >

            <div>
                <label for="email"> Email </label>
                <input formControlName="email" id="email" type="email" class="form-control">
            </div>
    
            <button [disabled]="verifyEmail.invalid" class="btn-main mt-2">Verify Email</button>

            @if (errMsg!== '') {
                <p class="alert alert-danger w-50 m-auto text-center">{{errMsg}}</p>
            }
    
        </form>
    }

    @else if (step == 2) {

        
            <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verify_Code()" >
        
                <div>
                    <label for="code"> code </label>
                    <input formControlName="resetCode" id="code" type="text" class="form-control">
                </div>
        
                <button [disabled]="verifyCode.invalid" class="btn-main mt-2">Verify Code</button>

                @if (errMsg!== '') {
                    <p class="alert alert-danger w-50 m-auto text-center">{{errMsg}}</p>
                }
        
            </form>

    }

    @else if (step == 3 ) {

        <form [formGroup]="verifyNewPass" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verify_NewPass()" >
    
            <div>
                <label for="email"> Email </label>
                <input readonly formControlName="email" id="email" type="email" class="form-control">
            </div>
    
            <div>
                <label for="Password"> Password </label>
                <input formControlName="newPassword" id="Password" type="password" class="form-control">
            </div>
    
            <button [disabled]="verifyNewPass.invalid" class="btn-main mt-2">Verify New Password</button>

            @if (errMsg!== '') {
                <p class="alert alert-danger w-50 m-auto text-center">{{errMsg}}</p>
            }
    
        </form>

    }

</div>