<div class="my-5 p-2">
<input [(ngModel)]="searchWord" type="search" class="form-control p-3 mt-5 w-75 mx-auto  " placeholder="Search For Products">
</div>

<div class="row g-4 container mx-auto">

    @if (productsList!==undefined) {
        @for (product of productsList | search : searchWord  ; track product.id) {
            <div class="col-md-3 shadow">

                
                <div class="inner product p-2">

                    
                    @if(!this._WishlistService.WishlistData.includes(product.id)){
                        <i (click)="addToWishlist(product.id)"  class="fa-regular fa-heart fa-2x ms-auto cr"></i>
                    }
                    @if(this._WishlistService.WishlistData.includes(product.id)){
                        <i (click)="removeFromWishlist(product.id)"  class="fa-solid fa-heart text-danger fa-2x ms-auto cr"></i>
                    }

                    
                    <div [routerLink]="['/details' , product.id ]">

                        <img [src]="product.imageCover" class="w-100" [alt]="product.title">
                        <h3 class="small text-main">{{product.category.name}}</h3> 

                            <h4 class="h6">{{product.title.split(" " , 2).join(" ")}}</h4> 
            
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{product.price}}EGP</span>
                            
                            <div>
                                @for (star of [1,2,3,4,5].slice(0,product.ratingsAverage); track $index) {
                                    <span><i class="fas fa-star rating-color"></i></span>
                                }
    
                                @if (product.ratingsAverage%1 !== 0) {
                                    <i class="fa-solid fa-star-half-stroke rating-color"></i>
                                }
                                <span class="text-muted">{{product.ratingsAverage}}</span>
                            </div> 
            
                        </div>
                    </div>
    
    
                    <button (click)="addToCart(product.id)" class="btn-main w-100">Add To Cart</button>
    
                </div>
            </div>
        }
    }

</div>